ipywidgets==8.0.6
notebook==6.5.4
ensure==1.0.2  # to check whether the argument which is passed is correct or not


# dev requirements -
pytest==7.3.1  # for testing
tox==4.5.1
black==22.8.0 # for formatting
flake8==5.0.4 # for linting (find out if there is an error)
mypy==0.971  # for checking type error
-e .